[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pylint = "*"
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
mysql-connector = "==2.1.4"
flask-sqlalchemy-session = "*"
tendo = "*"
